// spacing
$base-padding: 0.5rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 10px;

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.25;
$font-size-xl: $base-font-size * 2.5;
$font-size-2xl: $base-font-size * 4.37;
$font-size-3xl: $base-font-size * 6.25;
$font-size-4xl: $base-font-size * 15.6;