@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Just+Another+Hand&display=swap");

$font-primary: "Just Another Hand";
$font-secondary: "Gochi Hand";
$font-error: "Courier New", Courier, monospace;
