// fonts
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Just+Another+Hand&display=swap');
$font-primary: 'Just Another Hand';
$font-secondary: 'Gochi Hand';
$font-error: 'Courier New', Courier, monospace;

// colors
@import 'styles/_colors.module';

// spacing
$base-padding: 0.50rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 10px;

body {
  background-image: url(../public/chalkboard.jpg);
}

.welcome,
.loading {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home button {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $secondary;
  font-family: $font-secondary;
  font-size: 40px;
  border-radius: $base-border-radius;
  padding: $base-padding;
}

h1 {
  font-size: 200px;
  color: $primary;
  font-family: $font-primary;
}

.displayWord, .input {
  color: $primary;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 70px;
  color: $primary;
  font-family: $font-primary;
}

p {
  font-size: 40px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error {
  font-family: $font-error;
  font-size: 40px;
  color: $error;
}

.input {
  font-family: $font-secondary;
  font-size: 35px;
}

.input input {
  margin: 5px;
  text-align: center;
  outline: none;
}

.char {
  width: 30px;
  font: inherit;
}

.displayWord {
  flex-direction: row;
}

.displayWord span {
  font-family: $font-secondary;
  font-size: 100px;
  margin: 15px;
}

.hint {
  position: fixed;
  right: 100px;
}

.hintButton {
  position: inherit;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.hintButton:hover {
  filter: drop-shadow(0 0 7px $info);
}

.game {
  position: relative;
  top: 200px;
}

.hintText {
  color: $primary;
  font-family: $font-primary;
  position: inherit;
  right: 50px;
  top: 100px;
  text-align: center;
  margin: 0px;
  padding: 10px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.164);
  border-radius: 10%;
}

.stick {
  position: fixed;
  left: 570px;
  bottom: 300px;
}

.stick img {
  height: 180px;
  filter: drop-shadow(0 0 10px #ca3f3f);
}