@use "sass:math";

@import "styles/fonts";
@import "styles/colors.module";
@import "styles/base";

@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin text-primary {
  color: $primary;
  font-family: $font-primary;
}

@mixin text-secondary {
  color: $secondary;
  font-family: $font-secondary;
}

@mixin text-error {
  color: $error;
  font-family: $font-error;
}

body {
  background-image: url(../public/chalkboard.jpg);
}

.welcome,
.loading {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home button {
  position: absolute;
  bottom: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include text-secondary;
  font-size: 40px;
  border-radius: $base-border-radius;
  padding: $base-padding;
}

h1 {
  font-size: $font-size-4xl;
  @include text-primary;
  filter: drop-shadow(0 0 10px $highlight);
}

.displayWord,
.input {
  color: $primary;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
  @include text-primary;
}

p {
  font-size: $font-size-xl;
}

div {
  @include flex-center(column);
}

.error {
  @include text-error;
  font-size: $font-size-lg;
}

form {
  @include flex-center(column);
}

#main-input {
  font-family: $font-secondary;
  font-size: $font-size-xl;

  input {
    margin: 5px;
    text-align: center;
    outline: none;
  }
}

.msg {
  color: $primary;
  font-family: $font-secondary;
  font-size: $font-size-xl;
}

.char {
  width: 30px;
  font: inherit;
}

.displayWord {
  flex-direction: row;

  span {
    font-family: $font-secondary;
    font-size: $font-size-3xl;
    margin: 15px;
  }
}

.game {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hint {
  position: fixed;
  right: 100px;

  .hintButton {
    position: relative;
    background: none;
    border: none;
    margin: 0;
    padding: 0;

    :hover {
      cursor: pointer;
      filter: drop-shadow(0 0 7px $info);
    }
  }

  .hintText {
    @include text-primary;
    position: absolute;
    right: 100%;
    top: 0;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: $base-border-radius;
  }
}

.stick {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);

  img {
    height: 300px;
    filter: drop-shadow(0 0 10px $highlight);
  }
}
