@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Just+Another+Hand&display=swap');

body {
  background-image: url(../public/chalkboard.jpg);
}

.home {
  color: lavender;
  font-family: 'Just Another Hand';
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 50px;
}

p {
  font-size: 25px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  color: gray;
  font-family: 'Gochi Hand';
  font-size: 35px;
}

.error {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

.input {
  font-family: 'Gochi Hand';
  font-size: 30px;
}

.char {
  width: 30px;
  font: inherit;
}

.displayWord {
  flex-direction: row;
}

.displayWord span {
  font-family: 'Gochi Hand';
  font-size: 30px;
  margin: 5px;
}

.hintButton {
  background: none;
  border: none;
  padding: 10px;
  margin: 10px;
}

.hintButton:hover {
  filter: drop-shadow(0 0 7px #ffef10);
}